<div class="row">
    <div class="offset-3 col-4">
        <h3>Log In</h3>

        <% if notice %>
        <p id="notice"><%= notice %></p>
        <% end %>
        <%= form_tag do %>
        <div class="mb-3">
            <%= label_tag :username, 'UserName:' %>
            <%= text_field_tag :username, params[:username] %>
        </div>
        <div class="mb-3">

            <%= label_tag :password, 'Password:' %>
            <%= password_field_tag :password, params[:password] %>
        </div>

        <%= submit_tag "Login",class: "btn btn-primary" %>


        <% end %>

        <div class="mt-10">
            <p class=""> Dont have an Account? <%= link_to "Sign Up", "/users/new" %></p>
        </div>
    </div>
</div>