<p id="notice"><%= notice %></p>

<h1>Collected Items</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Cart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collected_items.each do |collected_item| %>
      <tr>
        <td><%= collected_item.product_id %></td>
        <td><%= collected_item.cart_id %></td>
        <td><%= link_to 'Show', collected_item %></td>
        <td><%= link_to 'Edit', edit_collected_item_path(collected_item) %></td>
        <td><%= link_to 'Destroy', collected_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collected Item', new_collected_item_path %>
