<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @collected_item.product_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @collected_item.cart_id %>
</p>

<%= link_to 'Edit', edit_collected_item_path(@collected_item) %> |
<%= link_to 'Back', collected_items_path %>
