<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Showing Cart:</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quanity</th>
            <th>Price</th>
            <th>SubTotal
            <th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @cart.cart_lines.each do |cart_line| %>
        <tr>
            <td><%= cart_line.product.name %></td>
            <td><%= cart_line.quantity %></td>
            <td>N<%= cart_line.product.price %></td>
            <td>N<%= cart_line.total_price %>


            <td><%= link_to 'Remove(x)', cart_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
        <tr>
            <td colspan='3'>Total</td>
            <td colSpan='2'>N<%= @cart.total_sum %>
            <td>
        </tr>
    </tbody>

</table>

<br>
<div class="row">
    <div class="col-5 offset-2">
        <%= link_to 'Back to Shop', shop_products_url, class: "shop" %>
    </div>
    <div class="col-5">
        <%= link_to 'Checkout', new_order_path, method: :get, class: "shop" %>
    </div>
    <div class="offset-3 col-4">
        <%= link_to  "Empty Cart", @cart,method: :delete, data: {confirm: "Are you sure"} %>
    </div>
</div>